%otions_fontmerriw700 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

%otions_fontmerriw400 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

%otions_fontral400 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

%otions_fontral500 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}


%otions_fontmon700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

%otions_fontmon400 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}